/* Keyframes */
@keyframes floatSlow {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(2deg);
  }
}
@keyframes bounceSoft {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Utility class */
.animate-float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}
.animate-bounce-soft {
  animation: bounceSoft 2s ease-in-out infinite;
}

.blob {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
.blob-2 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
#mainHero,
#subPageHero {
  p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
